<polymer-element name="main-view">
  <link rel="import" href="../../components/html_slideshow/html_slideshow.html">

  <template>
    <style>
      #slideshow {
        display: block;
        margin-bottom: 10px;
      }

      .slide {
        -moz-animation-duration: 0.8s;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        font-size: 24px;
      }
    </style>

    <h1>Chord Blaster</h1>

    <div class="box-container">
      <html-slideshow id="slideshow" slides="{{chordList}}" interval="2" slideClass="animated fadeIn slide"></html-slideshow>
      <button class="btn btn-default" on-click="{{startSlideshow}}">Play</button>
      <button class="btn btn-default" on-click="{{stopSlideshow}}">Stop</button>
      <button class="btn btn-default" on-click="{{pauseSlideshow}}">Pause</button>
      <button class="btn btn-default" on-click="{{nextSlide}}">Next</button>

      <!--ul>
        <template repeat="{{chord in chordList}}">
          <li>{{chord}}</li>
        </template>
      </ul-->
   </div>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>