<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/core_elements/core_header_panel.html">
<link rel="import" href="packages/core_elements/core_toolbar.html">
<link rel="import" href="packages/core_elements/core_pages.html">
<link rel="import" href="packages/core_elements/av_icons.html">
<link rel="import" href="packages/paper_elements/paper_button.html">
<link rel="import" href="../../components/html_display/html_display.html">

<polymer-element name="app-view">
  <template>
    <style>
      :host {
        height: 100%;
      }

      #wrapper {
        width: 100%;
        height: 100%;
        padding-top: 10px;
      }

      .app-title {
        text-align: center;
      }

      .box-container {
        border: 1px solid #ccc;
      }

      .user-select-none {
        user-select: none;
      }

      .chord-symbol {
        font-size: 50px;
      }
    </style>

    <core-header-panel flex>
      <core-toolbar>
        <h2 class="app-title" flex>Chord Blaster</h2>
      </core-toolbar>

      <div id="wrapper" layout vertical center class="user-select-none">
        <core-pages id="slideshow" selected="0">
          <template repeat="{{chord in chordList}}">
            <!--<div class="chord-symbol">{{chord.toString()}}</div>-->
            <div class="chord-symbol" is="html-display" htmlContent="{{chord.toString()}}"></div>
          </template>
        </core-pages>

        <!--<ul>-->
          <!--<template repeat="{{chord in chordList}}">-->
            <!--<li>{{chord.toString()}}</li>-->
          <!--</template>-->
        <!--</ul>-->

        <div layout horizontal center-justified class="box-container control-panel">
          <paper-button icon="av:play-arrow" on-tap="{{startSlideshow}}"></paper-button>
          <paper-button icon="av:stop" on-tap="{{stopSlideshow}}"></paper-button>
          <paper-button icon="av:pause" on-tap="{{pauseSlideshow}}"></paper-button>
          <paper-button icon="av:skip-next" on-tap="{{nextSlide}}"></paper-button>
        </div>
      </div>
    </core-header-panel>
  </template>

  <script type="application/dart" src="app_view.dart"></script>
</polymer-element>